body {
  margin: 0;
  background: #fcfeff;
  color: #000035;

  font-family: "averta-italic"-apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Sans Pro", "Helvetica", Arial, sans-serif;
}

button:hover {
  background-color: yellow;
  color: green;
}

input {
  width: 100%;
}

ol,
ul {
  list-style: none;
  text-align: right;
  display: inline-block;
}

.profile-image {
  width: 100px;
  display: block;
  margin: auto;
}

.profile-image img {
  border-radius: 100%;
  text-align: center;
  width: 100%;
}

.profile-details {
  text-align: center;
  margin-top: 20px;
}

.buttons.style1 .button {
  color: #000035;
  border: solid 1px #000035;
}

.actions {
  text-align: right;
}

.profile {
  display: inline-flex;
  text-align: center;
}

h6 {
  line-height: normal;
}

.profile-section {
  margin-right: 10px;
  display: block;
  text-align: center;
}
.actions button {
  background-color: transparent;
  border: solid 1px #000035;
  padding: 10px;
  height: 3.125rem;
  padding: 0 1.5625rem;
  font-size: 0.875em;
  font-weight: 400;
  border-radius: 0.25rem;
}

.buttons.style1 li a {
  display: flex;
  height: 3.125rem;
  line-height: 3.125rem;
  vertical-align: middle;
  padding: 0 1.5625rem;
  font-size: 0.875em;
  font-family: "averta-thin", monospace;
  font-weight: 400;
  border-radius: 0.25rem;
}

.buttons li a {
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
}

form input[type="text"],
form input[type="email"],
form textarea {
  background-color: transparent;
  padding: 10px;
  border-radius: 0.25rem;
  border: solid 1px #000035;
  margin-bottom: 15px;
}

#nav {
  margin-bottom: 8%;
}

.image-container {
  width: 100%;
  height: 60px;
  margin-right: 15px;
}

.copyrigt-info {
  margin-top: 40px;
  text-align: center;
}

.image-container img {
  width: 100%;
  height: auto;
}

.logo-title {
  display: inline-block;
}

.wrapper {
  margin: 50px auto;
}

.test-font {
  font-family: averta-thin;
}

@font-face {
  font-family: averta-thin;
  src: url("./assets/fonts/IntelligentDesign-Averta-Thin.otf");
}

hr {
  width: 100%;
  position: relative;
  padding: 0;
  border: 0;
  background-color: #000035;
  height: 2px;
}
/* @font-face {
  font-family: futura-black;
  src: url(./assets/fonts/futura-black.woff2);
} */

/* .App {
  background: #4c2a4c;
  margin: 30px auto;
  width: 90%;
  max-width: 700px;
  color: #eee;
  padding: 5px;
  border-radius: 6px;
} */
