body {
  margin: 0;
  background: #e9fbff;
  color: #0f0e9f;

  font-family: "averta-italic"-apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "averta-italic", "Source Sans Pro", "Helvetica", Arial,
    sans-serif;
}

ol,
ul {
  list-style: none;
  text-align: right;
  display: inline-block;
}

.profile-image img {
  border-radius: 100%;
}

.buttons.style1 .button {
  color: #0f0e9f;
  border: solid 1px #0f0e9f;
}

.about-button {
  text-align: right;
}

.actions {
  text-align: right;
  width: 75%;
}

.profile {
  display: inline-flex;
}
.actions button {
  background-color: transparent;
  border: solid 1px #0f0e9f;
  padding: 10px;
  height: 3.125rem;
  padding: 0 1.5625rem;
  font-size: 0.875em;
  font-weight: 400;
  border-radius: 0.25rem;
}

.buttons.style1 li a {
  display: flex;
  height: 3.125rem;
  line-height: 3.125rem;
  vertical-align: middle;
  padding: 0 1.5625rem;
  font-size: 0.875em;
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
  border-radius: 0.25rem;
}

.buttons li a {
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
}

form input[type="text"],
form input[type="email"],
form textarea {
  background-color: transparent;
  width: 75%;
  padding: 10px;
  border-radius: 0.25rem;
  border: solid 1px #0f0e9f;
  margin-bottom: 15px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.wrapper {
  margin: 50px auto;
}

/* @font-face {
  font-family: averta-black;
  src: url(.\assets\fonts\IntelligentDesign-AvertaBlack.otf);
} */

@font-face {
  font-family: averta-italic;
  src: url(./assets/fonts/IntelligentDesign-Averta-Thin.otf);
}

hr {
  width: 100%;
  position: relative;
  padding: 0;
  border: 0;
  background-color: #0f0e9f;
  height: 2px;
}
/* @font-face {
  font-family: futura-black;
  src: url(./assets/fonts/futura-black.woff2);
} */

/* .App {
  background: #4c2a4c;
  margin: 30px auto;
  width: 90%;
  max-width: 700px;
  color: #eee;
  padding: 5px;
  border-radius: 6px;
} */
